*.sbl
*.plg
*.aps
*.ncb
*.opt
*__Win32_*
/innosetup/installs
asm_makeinsts/asm_makeinsts.vcxproj.user
bbruntime/bbruntime.vcxproj.filters
bbruntime/bbruntime.vcxproj.user
bbruntime_dll/bbruntime_dll.vcxproj.filters
*.user
*.sdf
*.pro
*.pdb
.vs
*.db
/BlitzGame/obj
/BlitzGame/bin
/BlitzSharp3D/Debug
/BlitzSharp3D/Release
/BlitzEngine/bin
/BlitzEngine/obj
/Run/BlitzSharp3D_DEBUG.ilk
/Run/BlitzSharp3D_DEBUG.lib
/Run/BlitzSharp3D_DEBUG.pdb
/Run/BlitzSharp3D_DEBUG.dll
/Run/BlitzSharp3D_DEBUG.exp
/Run/BlitzSharp3D.iobj
/Run/BlitzSharp3D.ipdb
/Run/BlitzSharp3D.lib
/Run/BlitzSharp3D.pdb
/Run/BlitzSharp3D.dll
/Run/BlitzSharp3D.exp
/Run/BlitzGame.exe
/Run/BlitzGame.pdb
/Run/BlitzEngine.dll
/Run/BlitzEngine.pdb
/lib/freeimage241/Release

/Run/console.log